<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Tasks</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="task" ng-controller="Controller"> <!-- my controller for my whole app -->
      <!--header at the top of app-->
  <ion-header-bar class="bar-calm"> 
        <h1 class="title">Tasks to be done</h1>
      <!-- for creating the new task the button is clicked-->
        <button class="button button-icon" ng-click="thisTask()">
            <i class="icon ion-android-create"></i>
        </button>
  </ion-header-bar>
      
      <ion-content>
        <!-- List containing out tasks with a check box to click when task completed -->
        <ion-list>
            <ion-item ng-repeat="task in tasks">
            <ion-checkbox ng-model="filter.pink">{{task.title}}</ion-checkbox>
            </ion-item>
        </ion-list>
      </ion-content>

    
    <script id="New" type="text/ng-template"> 

  <div class="modal"> <!-- the modal which will call the functions in the app.js-->

    <!-- Header of the modal -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Making a new Task</h1>
      <button class="button button-calm button-positive" ng-click="closeTheTask()">Cancel this action</button> <!-- cancels the form if user does not want the task function -->
    </ion-header-bar>

    <!-- Modal which calls our js for the function of bringing up our pop up window where you fill in tasks-->
    <ion-content>

      <form ng-submit="createTheTask(task)">
        <div class="list">
          <label class="item item-input"> <!-- the text input asking the user what they want to input -->
            <input type="text" placeholder="What to do today Sir/Madam" ng-model="task.title">
          </label>
        </div>
        <div class="padding">
            <!-- hitting this button creates the task and submits it to the screen -->
          <button type="Agree" class="button button-block button-dark">Create a Task</button> 
        </div>
      </form>

    </ion-content>

  </div>

</script>
  </body>
</html>
