<ion-view view-title="Task 1">
  <ion-content class="padding">
      <div class="card">
  <div class="item item-text-wrap">
   dara sucks major dick

  <div class="item item-divider">
    today
  </div>

  <a class="item" href="#">
    <label class="item item-input">
  <input type="text">
</label>
   <a class="item" href="#">
    <label class="item item-input">
  <input type="text">
 <a class="item" href="#">
    <label class="item item-input">
  <input type="text">
 <a class="item" href="#">
    <label class="item item-input">
  <input type="text">
 <a class="item" href="#">
    <label class="item item-input">
  <input type="text">
 <a class="item" href="#">
    <label class="item item-input">
  <input type="text">
</div>
</div>
</div>
  </ion-content>
</ion-view>
